{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "env": {
    "server": {
      "plugins": [
        [
          "css-modules-transform", {
            "preprocessCss": "./sass-loader.js",
            "generateScopedName": "[hash:8]",
            "extensions": [".scss"]
          }
        ]
      ]
    }
}
}
